

body{
    padding-top: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #818181;
	font-weight: 400;
	background-color: #f6f6f6;
	overflow-y: scroll;
	overflow-x: hidden !important;
	-webkit-font-smoothing: antialiased;

}

.footer
{
background-color:black;

bottom: 0;
width: 100%;
}

.home-div {
    min-height: 400px;
}

.nav-text{
	text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}