<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>Universal DX</title>
</head>
<body ng-app="udxApp">
<h2>Universal DX home page</h2>


  <ul class="menu">
      <li><a href="#/">Home</a></li>
      <li><a href="#/chart">Chart</a></li>
      <li><a href="#/contact">Contact us</a></li>

  </ul>

  <div ng-view></div>

<script type="text/javascript" src="static/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/angular.min.js"></script>
<script type="text/javascript" src="static/js/angular-route.min.js"></script>
<script type="text/javascript" src="static/js/app/app.js"></script>
<script type="text/javascript" src="static/js/app/views/chart/chart.js"></script>
<script type="text/javascript" src="static/js/app/views/home/home.js"></script>
<script type="text/javascript" src="static/js/app/views/contactus/contactus.js"></script>

</body>
</html>